header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    border-bottom: 10px solid #1CB1B1;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0 100px;
}

.logo {
    width: 170px;
    height: auto;
}

.nav-img {
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-img a {
    width: 30px;
}

.nav-img a:hover {
    transform: scale(1.20);
}